@{
    ViewData["Title"] = "ImageResizer.AspNetCore Usage";
}
<style>
    .alert {
        margin: 20px 0 0 !important;
    }
    .col-md-12 , alert{
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">?w=200</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?w=200" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">?h=300</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?h=300" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">?format=png</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?format=png" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">?format=jpg</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?format=jpg" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">?format=jpeg</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?format=jpeg" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">?w=100&h=200&mode=padding</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?w=100&h=200&mode=pad" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">?w=100&h=200&mode=max</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?w=100&h=200&mode=max" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">?w=100&h=200&mode=crop</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?w=100&h=200&mode=crop" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">?w=100&h=200&mode=stretch</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?w=100&h=200&mode=stretch" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">?autorotate=true</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?autorotate=true" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">?autorotate=false</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?autorotate=false" />

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">?quality=5</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?quality=5" />

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">?quality=20</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?quality=20" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">?w=400&quality=80</div>
    </div>
    <div class="col-md-12">
        <img src="~/images/mardinCity.jpg?w=400&quality=80" />
    </div>
</div>


